body {
  font-family: 'Faune', Arial sans-serif; font-size: 2em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

p {
  font-size: 0.8em;
}

h1, h2, h3, h4, p, .container {
  padding: 0 200px;
}

.manifesto {
  font-size: 1.25em;
}

.manifesto-text {
  padding-right: 3em;
}


.title {
  background-color: #C74710;
  line-height: .5em;
}


.last-curated {
  display: inline-block;
}


.bandeau {
  background-color: #C74710;
  color: white;
  padding: 1em 0;
}

del {
  color: #C74710;
}

del span {
  color: #45262F;
}

.no-pad {
  padding: 0;
}

.social-button {
  color: white;
}

.social-button:hover {
  color: black;
}

@media only screen and (max-width: 1000px) {
  h1, h2, h3, h4, p, .container {
    padding: 0 20px;
  }
}
