body {
  font-family: 'Faune', Arial sans-serif; font-size: 2em;
  /* Faune, Alice Savoie / Cnap*/
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

p {
  font-size: 0.8em;
}

h1, h2, h3, h4, p, .container-examples {
  padding: 0 200px;
}

.manifesto {
  font-size: 1.25em;
}

.manifesto-text {
  padding-right: 3em;
}


.titre {
  background-color: #C74710;
  font-weight: bold;
}

.titre del {
  color: #fa6400;
}

.titre del span {
  color: black;
  font-weight: bold;
}


del {
  color: white;
}

del span {
  color: black;
}

.bandeau {
  background-color: #fa6400;
}

.no-pad {
  padding: 0;
}

.social {
  color: #fa6400;
}

.social a {
  color: #fa6400;
}

.social-button:hover {
  color: black;
}

footer {
  color: white;
  font-size: 0.5em;
  text-align: right;
}

@media only screen and (max-width: 1000px) {
  h1, h2, h3, h4, p, .container-examples {
    padding: 0 20px;
  }

  body {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 720px) {
  body {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 540px) {
  body {
    font-size: 1.2em;
  }
}
